@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 226 71% 40%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 5% 96%;
        --secondary-foreground: 240 6% 10%;
        --muted: 240 5% 96%;
        --muted-foreground: 240 4% 46%;
        --accent: 239 84% 67%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 6% 90%;
        --input: 240 6% 90%;
        --ring: 239 84% 67%;
        --chart-1: 239 84% 67%;
        --chart-2: 199 89% 48%;
        --chart-3: 160 84% 39%;
        --chart-4: 38 92% 50%;
        --chart-5: 350 89% 60%;
        --radius: 0.25rem;
    }
    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 5.5%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 5.5%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 6% 10%;
        --secondary: 240 4% 15%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 4% 15%;
        --muted-foreground: 240 5% 65%;
        --accent: 239 84% 67%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 63% 31%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 4% 15%;
        --input: 240 4% 15%;
        --ring: 239 84% 67%;
        --chart-1: 239 84% 67%;
        --chart-2: 199 89% 48%;
        --chart-3: 160 60% 45%;
        --chart-4: 38 80% 55%;
        --chart-5: 350 75% 55%;
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    h1, h2, h3, h4, h5, h6,
    .font-heading {
        font-family: 'Chivo', sans-serif;
    }
}

@layer base {
    [data-debug-wrapper="true"] {
        display: contents !important;
    }
    [data-debug-wrapper="true"] > * {
        margin-left: inherit;
        margin-right: inherit;
        margin-top: inherit;
        margin-bottom: inherit;
        padding-left: inherit;
        padding-right: inherit;
        padding-top: inherit;
        padding-bottom: inherit;
        column-gap: inherit;
        row-gap: inherit;
        gap: inherit;
        border-left-width: inherit;
        border-right-width: inherit;
        border-top-width: inherit;
        border-bottom-width: inherit;
    }
}
